<div class="forgot-password" *transloco="let t">
	<app-image class="image" name="sign-in"></app-image>

	<app-card theme="1" class="card">
		<app-image class="logo" name="logo"></app-image>
		<form class="form" [formGroup]="form" [ngSwitch]="typeControl.value" (ngSubmit)="forgotPassword(form.value)">
			<app-radio-button class="radio-button" theme="1" [options]="types" [formControl]="typeControl"></app-radio-button>

			<app-input
				class="input"
				*ngSwitchCase="'email'"
				type="email"
				placeholder="Введите почту"
				formControlName="email"
			></app-input>
			<app-input
				class="input"
				*ngSwitchCase="'tel'"
				type="tel"
				placeholder="Введите тел"
				formControlName="tel"
			></app-input>

			<button appButton class="submit">Восстановить пароль</button>
		</form>

		<div class="links">
			<a appLink [routerLink]="clientRoutes.SIGN_IN.absolutePath" class="link">Войти</a>
			<a appLink [routerLink]="clientRoutes.SIGN_UP.absolutePath" class="link">Зарегестрироваться</a>
		</div>
	</app-card>
</div>
