<div class="forgot-password" *transloco="let t; read: forgotPasswordPageI18n">
	<app-image class="image" name="sign-in"></app-image>

	<app-card theme="1">
		<div class="card">
			<app-image class="logo" name="logo"></app-image>
			<form
				*transloco="let f; read: formI18n"
				class="form"
				[formGroup]="form"
				[ngSwitch]="typeControl.value"
				(ngSubmit)="forgotPassword(form.value)"
			>
				<app-radio-button
					class="radio-button"
					theme="1"
					[options]="types"
					[formControl]="typeControl"
				></app-radio-button>

				<app-input
					*ngSwitchCase="'email'"
					formControlName="email"
					class="input"
					type="email"
					[label]="f('email_label')"
					[placeholder]="f('email_placeholder')"
				></app-input>
				<app-input
					*ngSwitchCase="'tel'"
					formControlName="tel"
					class="input"
					type="tel"
					[label]="f('tel_label')"
					[placeholder]="f('tel_placeholder')"
				></app-input>

				<button appButton class="submit">{{ t("send") }}</button>
			</form>

			<div class="links">
				<a appLink [routerLink]="clientRoutes.SIGN_IN.absolutePath" class="link">{{ t("sign-in") }}</a>
				<a appLink [routerLink]="clientRoutes.SIGN_UP.absolutePath" class="link">{{ t("sign-up") }}</a>
			</div>
		</div>
	</app-card>
</div>
