:root {
	--dark: #151515;
	--dark-t: rgb(0 0 0 / 50%);
	--dark-d: rgb(0 0 0 / 30%);
	--dark-b: rgb(0 0 0 / 20%);
	--light: #ffffff;
	--light-t: rgb(255 255 255 / 50%);
	--light-d: rgb(255 255 255 / 30%);
	--light-b: rgb(255 255 255 / 20%);
	--primary: #ffc100;
	--primary-t: #fff2d6;
	--primary-d: #fcedc6;
	--primary-hover: #df8600;
	--success: #009007;
	--success-t: #bfdebb;
	--danger: #ff6e64;
	--danger-t: #ffd4d1;
	--blue: #2f99e7;
	--light-grey: #f5f5f5;
	--grey: #92929e;
	--dark-grey: #292929;
}
