@import "/src/assets/scss/abstractions/index";

@include component() {
	.halls-select {
		.halls {
			display: grid;
			row-gap: rem(5);
			.hall .link {
				background-color: var(--light-grey);
				border-radius: rem(12);
				display: grid;
				justify-content: space-between;
				align-items: center;
				padding: rem(8);
				column-gap: rem(16);
				row-gap: rem(8);
				grid-template-areas:
					"image image image"
					"label label label";
				grid-template-columns: auto 1fr auto;
				.image {
					grid-area: image;
					height: rem(150);

					@include image() {
						border-radius: rem(12);
					}
				}
				.label {
					font-weight: 600;
					font-size: rem(14);
					line-height: rem(24);
					color: var(--dark);
				}
			}
		}
	}
}
