@import "/src/assets/scss/abstractions/index";

@include component() {
	.confirm-product {
		display: grid;
		border: rem(1) solid transparent;
		background-color: var(--light-grey);
		border-radius: rem(12);
		align-items: center;
		gap: rem(5);
		padding: rem(8);
		grid-template-areas:
			"image name name"
			"image description description"
			"divider divider divider"
			"price price counter";
		grid-template-columns: auto 1fr auto;
		.image {
			grid-area: image;
			width: rem(56);
			height: rem(56);
			align-self: start;

			@include image() {
				border-radius: rem(12);
			}
		}
		.name {
			grid-area: name;
			font-weight: 500;
			font-size: rem(14);
			line-height: rem(24);
			color: var(--dark);
			text-align: left;

			@include noWrap();
		}
		.price {
			grid-area: price;
			font-weight: 500;
			font-size: rem(16);
			line-height: rem(24);
			color: var(--primary);
		}
		.divider {
			grid-area: divider;
			height: rem(1);
			background-color: var(--dark-b);
		}
		.cal {
			grid-area: cal;
			font-weight: 400;
			font-size: rem(12);
			line-height: rem(16);
			color: var(--dark-t);
		}
		.description {
			grid-area: description;
			color: var(--dark-t);
			max-width: 80%;
			text-align: left;

			@include noWrap();
		}
		.counter {
			grid-area: counter;
			justify-self: end;
		}
		&.active {
			border-color: var(--primary);
		}
	}
}
@include dark() {
	.confirm-product {
		background-color: var(--dark-grey);
		.description {
			color: var(--light-t);
		}
		.divider {
			background-color: var(--light-b);
		}
		.name {
			color: var(--light);
		}
		.cal {
			color: var(--light-t);
		}
	}
}
