@import "/src/assets/scss/abstractions/index";

@include component() {
	.order-info-skeleton {
		display: grid;
		row-gap: rem(12);
		.table-status {
			width: rem(120);
		}

		.links {
			display: grid;
			row-gap: rem(5);
			.date {
				width: rem(100);
			}
			.table {
				width: rem(75);
			}
		}
	}
}
@include dark() {
}
