<ul class="tables-select">
	<ng-template #skeleton>
		<li class="table">
			<app-skeleton-table></app-skeleton-table>
		</li>
		<li class="table">
			<app-skeleton-table></app-skeleton-table>
		</li>
	</ng-template>

	<ng-container *ngIf="tables?.length; else skeleton">
		<li class="table" *ngFor="let table of tables; trackBy: trackByFn">
			<button class="button" (click)="emitTableClick(table)">
				<app-preview-table class="preview-table" [table]="table" [active]="table.active"></app-preview-table>
			</button>
		</li>
	</ng-container>
</ul>
