@import "/src/assets/scss/abstractions/index";

@include component() {
	.confirm-product-skeleton {
		display: grid;
		border: rem(1) solid transparent;
		background-color: var(--light-grey);
		border-radius: rem(12);
		align-items: center;
		gap: rem(5);
		padding: rem(8);
		grid-template-areas:
			"image name name"
			"image description description"
			"divider divider divider"
			"price cal counter";
		grid-template-columns: auto 1fr auto;
		.image {
			grid-area: image;
			width: rem(56);
			height: rem(56);
			align-self: start;

			@include image() {
				border-radius: rem(12);
			}
		}
		.name {
			grid-area: name;
			height: rem(24);
		}
		.price {
			grid-area: price;
			width: rem(50);
			height: rem(24);
		}
		.divider {
			grid-area: divider;
			height: rem(1);
			background-color: var(--dark-b);
		}
		.cal {
			grid-area: cal;
		}
		.description {
			grid-area: description;
			height: rem(19.5);
		}
		.counter {
			grid-area: counter;
			justify-self: end;
			width: rem(96);
			height: rem(36);
		}
	}
}
@include dark() {
	.confirm-product-skeleton {
		background-color: var(--dark-grey);
	}
}
