<div class="order-info" *transloco="let t">
	<p class="table-status" *ngIf="status">{{ t("ORDER_INFO." + status) }}</p>

	<ul class="links">
		<li class="table" *ngIf="tableInfo">
			<span class="name">{{ t("ORDER_INFO.TABLE") }} </span>
			<a class="link" [routerLink]="tableLink">{{ tableInfo }}</a>
		</li>
		<li class="date" *ngIf="dateInfo">
			<span class="name">{{ t("ORDER_INFO.DATE") }} </span>
			<button class="link" (click)="emitDateClicked(dateInfo)">{{ dateInfo }}</button>
		</li>
	</ul>
</div>
