@import "/src/assets/scss/abstractions";

@include page() {
	.table-page {
		display: grid;
		align-self: start;
		row-gap: rem(24);
		grid-template-areas:
			"title title"
			"image image"
			"label status"
			"chips chips"
			"datepicker datepicker"
			"description description"
			"submit submit";

		@include pagePadding ();

		.title {
			grid-area: title;
		}

		.image {
			grid-area: image;
			height: rem(183);

			@include image () {
				border-radius: rem(12);
			}
		}

		.label {
			grid-area: label;
			font-weight: 500;
			font-size: rem(20);
			line-height: rem(32);
			color: var(--dark);
		}

		.status {
			grid-area: status;
			font-weight: 400;
			font-size: rem(14);
			line-height: rem(24);
			text-align: right;
			color: var(--green);
		}

		.chips {
			grid-area: chips;
			display: flex;
			gap: rem(5);
		}

		.datepicker {
			grid-area: datepicker;
		}

		.description {
			grid-area: description;
			color: var(--dark);
			font-weight: 400;
			font-size: 14px;
			line-height: 24px;
		}

		.submit {
			grid-area: submit;
			align-self: end;
			width: 100%;
			bottom: rem(15);
			&::ng-deep .app-button {
				width: 100%;
			}
		}
	}
}
@include dark() {
	.table {
		.info {
			.label {
				color: white;
			}
			.description {
				color: var(--light);
			}
		}
	}
}
