@import "/src/assets/scss/abstractions/index";

@include page() {
	.table {
		height: 100%;
		display: grid;
		grid-template-rows: auto 1fr auto;
		.image {
			height: rem(183);
		}
		.content {
			display: grid;
			align-self: start;
			row-gap: rem(12);
			grid-template-areas:
				"label status"
				"datepicker datepicker";

			@include pagePadding();

			.label {
				grid-area: label;
				font-weight: 500;
				font-size: rem(20);
				line-height: rem(32);
				color: var(--dark);
			}

			.status {
				grid-area: status;
				font-weight: 400;
				font-size: rem(14);
				line-height: rem(24);
				text-align: right;
				&.VALID {
					color: var(--success);
				}
				&.INVALID {
					color: var(--danger);
				}
				&.LOADING {
					color: var(--primary);
				}
			}

			.chips {
				grid-area: chips;
				display: flex;
				gap: rem(5);
			}

			.datepicker {
				grid-area: datepicker;
			}

			.description {
				grid-area: description;
				color: var(--dark);
				font-weight: 400;
				font-size: 14px;
				line-height: 24px;
			}

			.submit {
				grid-area: submit;
				align-self: end;
				width: 100%;
				bottom: rem(15);
				&::ng-deep .app-button {
					width: 100%;
				}
			}
		}
		.footer {
			padding: rem(15);
			.submit {
				width: 100%;
			}
		}
	}
}
@include dark() {
	.table .content {
		.description,
		.code,
		.label {
			color: var(--light);
		}
	}
}
