<ng-container *transloco="let t">
	<div class="table" *ngIf="table">
		<app-image class="image" [remote]="true" [name]="table.file?.url" placeholder="table"></app-image>

		<div class="content">
			<p class="label">{{ t("TABLE.CODE") }} {{ table.code }}</p>
			<p [class]="'status' + ' ' + validationStatus">{{ validationStatus ? t("TABLES." + validationStatus) : "" }}</p>

			<app-input
				appStopPropagation
				class="datepicker"
				[label]="t('FORM.DATE_LABEL')"
				[placeholder]="t('FORM.DATE_PLACEHOLDER')"
				[value]="(date$ | async)?.format()"
				[readonly]="true"
				(click)="openIosDatepicker()"
			></app-input>
		</div>
	</div>
</ng-container>
