<ng-container *transloco="let t; read: activeOrderPageI18n">
	<div class="active-order" *ngIf="order$ | async as order; else skeleton">
		<app-order-info class="order-info" [order]="order"></app-order-info>

		<div class="products" *ngIf="order.productsToOrders?.length">
			<app-users-select
				class="users-select"
				[users]="order.users"
				[(selectedUsers)]="selectedUsers"
				(selectedUsersChange)="setSelectedUsers($event)"
			></app-users-select>

			<app-products-to-order-select
				class="products-select"
				[productsToOrders]="order.productsToOrders"
				[(selectedProductsToOrders)]="selectedProductsToOrders"
				(selectedProductsToOrdersChange)="setSelectedProductsToOrders($event)"
			></app-products-to-order-select>
		</div>
	</div>
</ng-container>

<ng-template #skeleton>
	<app-skeleton-active-order></app-skeleton-active-order>
</ng-template>
