@import "/src/assets/scss/abstractions";

@include page() {
	.active-order {
		@include pagePadding();
		display: grid;
		row-gap: rem(12);

		.products {
			display: grid;
			row-gap: rem(12);
		}
	}
}
@include dark() {
	.active-order .products .users-to-orders-by-type .user-to-order-by-type .status {
		color: var(--light);
	}
}
