@import "/src/assets/scss/abstractions";

@include page() {
	.active-order {
		@include pagePadding();
		display: grid;
		row-gap: rem(24);
		.products {
			display: grid;
			row-gap: rem(12);
			.users-to-orders-by-type {
				display: grid;
				row-gap: rem(12);
				.user-to-order-by-type {
					display: grid;
					row-gap: rem(12);
					.status {
						font-weight: 500;
						font-size: rem(16);
						line-height: rem(24);
						color: var(--dark);
					}
					.users-to-orders {
						display: grid;
						row-gap: rem(12);
					}
				}
			}
		}
	}
}
@include dark () {
	.active-order .products .users-to-orders-by-type .user-to-order-by-type .status {
		color: var(--light);
	}
}
