<ng-container *transloco="let t; read: activeOrderPageI18n">
	<div class="active-order" *ngIf="order$ | async as order">
		<div class="products">
			<app-users-select [users]="order.users" [formControl]="usersControl"></app-users-select>

			<ul class="users-to-orders-by-type">
				<li class="user-to-order-by-type" *ngFor="let userToOrderByType of order.usersToOrdersByType">
					<ng-container *ngIf="userToOrderByType.usersToOrders?.length">
						<p class="status">{{ userToOrderByType.status }}</p>
						<ul class="users-to-orders">
							<li class="user-to-order" *ngFor="let userToOrder of userToOrderByType.usersToOrders">
								<app-product-to-order
									[userToOrder]="userToOrder"
									[isActive]="userToOrderByType.status !== 'PAID' && users?.includes(userToOrder.user.id)"
								></app-product-to-order>
							</li>
						</ul>
					</ng-container>
				</li>
			</ul>
		</div>
	</div>
</ng-container>
