<ng-container *transloco="let t">
	<div class="product-dialog" *ngIf="product">
		<app-image class="image" [remote]="true" [name]="product.file?.url" placeholder="product"></app-image>

		<div class="content">
			<h1 class="name">{{ product.name }}</h1>
			<h2 class="description">{{ product.description }}</h2>

			<p class="price">{{ product.price }} {{ t("PRODUCT.CURRENCY") }}</p>

			<app-counter
				class="counter"
				theme="2"
				[value]="count"
				(plusClicked)="addProductToOrder()"
				(minusClicked)="removeProductFromOrder()"
			></app-counter>
			<!--			<p class="cal">250 гр</p>-->

			<div class="attrGroups" [formGroup]="formGroup">
				<div
					class="attrGroup"
					*ngFor="let attrGroup of product.attrsGroups; trackBy: sharedService.trackByFn; let i = index"
				>
					<p class="label">{{ attrGroup.name }}</p>
					<app-radio-button
						*ngIf="attrGroup.maxItemsForPick === 1; else multipleCheckbox"
						theme="2"
						class="radio"
						bindValue="id"
						bindLabel="name"
						[options]="attrGroup.attributes"
						[formControlName]="attrGroup.name"
					>
						<ng-template #labelTemplate let-value>
							{{ value.name + " " + value.price + t("FORM.CURRENCY") }}
						</ng-template>
					</app-radio-button>

					<ng-template #multipleCheckbox>
						<app-multiple-checkbox
							class="radio"
							bindValue="id"
							bindLabel="name"
							[options]="attrGroup.attributes"
							[formControlName]="attrGroup.name"
						>
							<ng-template #labelTemplate let-value>
								{{ value.name + " " + value.price + t("FORM.CURRENCY") }}
							</ng-template>
						</app-multiple-checkbox>
					</ng-template>
				</div>
			</div>

			<!--			<app-textarea-->
			<!--				class="textarea"-->
			<!--				[label]="t('description_label')"-->
			<!--				[placeholder]="t('description_placeholder')"-->
			<!--			></app-textarea>-->
		</div>

		<footer class="footer">
			<button appButton theme="1" class="submit" (click)="closeDialog()">
				{{ (isEdit ? "Редагувати" : "Додати") + " на: " + totalPrice + "грн" }}
			</button>
		</footer>
	</div>
</ng-container>
