<div class="dashboard" *transloco="let t">
	<h1 appTypography theme="1" class="title">{{ t("DASHBOARD.TITLE") }}</h1>

	<ul class="order-types">
		<li [class]="'order-type ' + orderType.image" *ngFor="let orderType of orderTypes">
			<button class="link" (click)="createOrder(orderType)">
				<app-image class="image" [name]="orderType.image"></app-image>
				<span class="label">{{ t("DASHBOARD." + orderType.label) }}</span>
			</button>
		</li>
	</ul>

	<div class="links">
		<a class="link schema" [routerLink]="schemaRouterLink">
			<app-image class="image" name="schema-button-decoration"></app-image>
			<app-icon class="icon" name="home-smile"></app-icon>
			<span class="label">{{ t("DASHBOARD.SCHEMA") }}</span>
		</a>
		<a class="link menu" [routerLink]="menuRouterLink">
			<app-image class="image" name="menu-button-decoration"></app-image>
			<app-icon class="icon" name="menu"></app-icon>
			<span class="label">{{ t("DASHBOARD.MENU") }}</span>
		</a>
		<a appButton theme="3" class="connect-to-order" [routerLink]="connectToOrderRouterLink">
			<span class="label">{{ t("DASHBOARD.CONNECT_TO_ORDER") }}</span>
		</a>
	</div>
</div>
