<div class="product-to-order" [class.active]="isActive" *ngIf="productToOrder">
	<app-image class="image" placeholder="product" [remote]="true" [name]="productToOrder.product.file?.url"></app-image>
	<p class="title">{{ productToOrder.product.name }}</p>
	<p class="description">{{ productToOrder.product.description }}</p>

	<app-icon
		class="icon"
		[name]="productToOrder.paidStatus === productToOrderPaidStatus.Paid ? 'paid' : 'not-paid'"
	></app-icon>

	<hr class="divider" />

	<p class="user">{{ productToOrder.user?.name }}</p>
	<p class="count">{{ productToOrder.count }}x</p>
	<p class="price">{{ productToOrder.product.price }} грн</p>
</div>
