<ng-container *transloco="let t">
	<div class="product-to-order" [class.active]="isActive" *ngIf="productToOrder">
		<app-image
			class="image"
			[remote]="true"
			[name]="productToOrder.product.file?.url"
			placeholder="product"
		></app-image>

		<p class="title">{{ productToOrder.product.name }}</p>
		<p class="attributes">{{ productToOrder.product.description + " " + attributes }}</p>

		<div class="paid-status">
			<app-icon [class]="'icon' + ' ' + productToOrder.paidStatus" name="paid"></app-icon>
		</div>

		<div class="divider"></div>

		<p class="user">{{ productToOrder.user.name }}</p>
		<p class="count">{{ productToOrder.count }}x</p>
		<p class="price">{{ productToOrder.product.price }} {{ t("FORM.CURRENCY") }}</p>
	</div>
</ng-container>
