<div class="sign-up" *transloco="let t">
	<app-image class="image" name="sign-in"></app-image>

	<app-card theme="1" class="card">
		<app-image class="logo" name="logo"></app-image>
		<form class="form" [formGroup]="form" [ngSwitch]="typeControl.value" (ngSubmit)="signUp(form.value)">
			<app-radio-button class="radio-button" theme="1" [options]="types" [formControl]="typeControl"></app-radio-button>

			<app-input
				class="input"
				*ngSwitchCase="'email'"
				type="email"
				placeholder="Введите почту"
				formControlName="email"
			></app-input>
			<app-input
				class="input"
				*ngSwitchCase="'tel'"
				type="tel"
				placeholder="Введите тел"
				formControlName="tel"
			></app-input>
			<app-input class="input" type="password" placeholder="Введите пароль" formControlName="password"></app-input>

			<div class="social-medias">
				<p class="label">Или через:</p>
				<button appButton theme="2" class="button" type="button">
					<app-icon class="icon" name="google"></app-icon>
					<span class="text">Google</span>
				</button>
				<button appButton theme="2" class="button" type="button">
					<app-icon class="icon" name="telegram"></app-icon>
					<span class="text">Telegram</span>
				</button>
			</div>

			<button appButton class="submit">Зарегестрироваться</button>
		</form>

		<div class="links">
			<a appLink [routerLink]="clientRoutes.SIGN_IN.absolutePath" class="link">Войти</a>
			<a appLink [routerLink]="clientRoutes.FORGOT_PASSWORD.absolutePath" class="link">Восстановить пароль</a>
		</div>

		<p class="privacy-policy">
			Нажимая на кнопку вы соглашаетесь с правилами обработки персональных данных и политикой конфидициальности сервиса
		</p>
	</app-card>
</div>
