<div class="sign-up" *transloco="let t">
	<app-image class="image" name="auth"></app-image>

	<app-card theme="1" class="card">
		<app-image class="logo" name="logo"></app-image>

		<form class="form" [formGroup]="formGroup" [ngSwitch]="typeControl.value" (ngSubmit)="signUp(formGroup.value)">
			<app-radio-button class="radio-button" theme="1" [options]="types" [formControl]="typeControl">
				<ng-template #labelTemplate let-option>
					{{ t("AUTH." + option.label) }}
				</ng-template>
			</app-radio-button>

			<app-input
				*ngSwitchCase="'email'"
				class="input"
				type="email"
				formControlName="email"
				[label]="t('FORM.EMAIL_LABEL')"
				[placeholder]="t('FORM.EMAIL_PLACEHOLDER')"
				[errors]="formGroup.controls['email'].errors"
			></app-input>
			<app-input
				*ngSwitchCase="'tel'"
				class="input"
				type="tel"
				formControlName="tel"
				[label]="t('FORM.TEL_LABEL')"
				[placeholder]="t('FORM.TEL_PLACEHOLDER')"
				[errors]="formGroup.controls['tel'].errors"
			></app-input>
			<app-input
				class="input"
				type="password"
				formControlName="password"
				[label]="t('FORM.PASSWORD_LABEL')"
				[placeholder]="t('FORM.PASSWORD_PLACEHOLDER')"
				[errors]="formGroup.controls['password'].errors"
			></app-input>

			<div class="social-medias">
				<p class="label">{{ t("AUTH.OR") }}</p>
				<button appButton theme="2" class="button" type="button">
					<app-icon class="icon" name="google"></app-icon>
					<span class="text">{{ t("AUTH.GOOGLE") }}</span>
				</button>
				<button appButton theme="2" class="button" type="button">
					<app-icon class="icon" name="telegram"></app-icon>
					<span class="text">{{ t("AUTH.TELEGRAM") }}</span>
				</button>
			</div>

			<button appButton class="submit" [disabled]="formGroup.invalid">{{ t("AUTH.SIGN_UP") }}</button>
		</form>

		<div class="links">
			<a appLink [routerLink]="clientRoutes.SIGN_IN.absolutePath" class="link">{{ t("AUTH.SIGN_IN") }}</a>
			<a appLink [routerLink]="clientRoutes.FORGOT_PASSWORD.absolutePath" class="link">{{
				t("AUTH.FORGOT_PASSWORD")
			}}</a>
		</div>

		<p class="privacy-policy">{{ t("AUTH.PRIVACY_POLICY") }}</p>
	</app-card>
</div>
