<div class="sign-up" *transloco="let t; read: signUpPage">
	<app-image class="image" name="auth"></app-image>

	<app-card theme="1" class="card">
		<app-image class="logo" name="logo"></app-image>
		<form
			*transloco="let f; read: form"
			class="form"
			[formGroup]="formGroup"
			[ngSwitch]="typeControl.value"
			(ngSubmit)="signUp(formGroup.value)"
		>
			<app-radio-button class="radio-button" theme="1" [options]="types" [formControl]="typeControl"></app-radio-button>

			<app-input
				class="input"
				type="email"
				formControlName="email"
				*ngSwitchCase="'email'"
				[label]="f('email_label')"
				[placeholder]="f('email_placeholder')"
			></app-input>
			<app-input
				class="input"
				type="tel"
				formControlName="tel"
				*ngSwitchCase="'tel'"
				[label]="f('tel_label')"
				[placeholder]="f('tel_placeholder')"
			></app-input>
			<app-input
				class="input"
				type="password"
				[label]="f('password_label')"
				[placeholder]="f('password_placeholder')"
				formControlName="password"
			></app-input>

			<div class="social-medias">
				<p class="label">{{ t("or") }}</p>
				<button appButton theme="2" class="button" type="button">
					<app-icon class="icon" name="google"></app-icon>
					<span class="text">{{ t("google") }}</span>
				</button>
				<button appButton theme="2" class="button" type="button">
					<app-icon class="icon" name="telegram"></app-icon>
					<span class="text">{{ t("telegram") }}</span>
				</button>
			</div>

			<button appButton class="submit">{{ t("sign-up") }}</button>
		</form>

		<div class="links">
			<a appLink [routerLink]="clientRoutes.SIGN_IN.absolutePath" class="link">{{ t("sign-in") }}</a>
			<a appLink [routerLink]="clientRoutes.FORGOT_PASSWORD.absolutePath" class="link">{{ t("forgot-password") }}</a>
		</div>

		<p class="privacy-policy">{{ t("privacy-policy") }}</p>
	</app-card>
</div>
