<ng-container *transloco="let t; read: productPageI18n">
	<div class="product" *ngIf="product$ | async as product">
		<app-image class="image" [remote]="true" [name]="product.file?.url" placeholder="product"></app-image>

		<div class="content" *transloco="let f; read: formI18n">
			<h1 class="name">{{ product.name }}</h1>
			<h2 class="description">{{ product.description }}</h2>

			<p class="price">{{ product.price }} грн</p>
			<p class="cal">250 гр</p>

			<div class="attrGroups">
				<div class="attrGroup" *ngFor="let attrGroup of product.attrsGroups">
					<p class="label">{{ attrGroup.name }}</p>

					<app-radio-button theme="2" class="radio" [options]="attrGroup.attributes"></app-radio-button>
				</div>
			</div>

			<app-textarea
				class="textarea"
				[label]="f('description_label')"
				[placeholder]="f('description_placeholder')"
			></app-textarea>
		</div>
	</div>
</ng-container>
