<ul [class]="className">
	<li class="option" *ngFor="let option of options; let i = index; trackBy: sharedService.trackByFn">
		<input class="input" type="radio" [formControl]="formControl" [value]="option[bindValue]" [id]="id + i" />
		<div class="decoration"></div>
		<label class="label" [for]="id + i">
			<ng-container *ngIf="labelTemplate; else defaultLable">
				<ng-container *ngTemplateOutlet="labelTemplate; context: { $implicit: option }"></ng-container>
			</ng-container>

			<ng-template #defaultLable>
				{{ option[bindLabel] }}
			</ng-template>
		</label>
	</li>
</ul>
