@import "src/assets/scss/abstractions";

@include component() {
	.app-radio-button {
		&.theme-1 {
			display: flex;
			justify-content: space-between;
			border-bottom: rem(1) solid var(--dark-t);
			.option {
				position: relative;
				flex: 1;
				text-align: center;

				.input {
					opacity: 0%;
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;

					&:checked ~ .label {
						color: var(--primary);
						border-bottom-color: var(--primary);
					}
				}

				.label {
					display: block;
					font-weight: 500;
					font-size: rem(20);
					line-height: rem(24);
					padding-bottom: rem(9);
					border-bottom: rem(2) solid transparent;
					color: var(--dark);
					margin-bottom: rem(-1);

					@include desktop() {
						font-weight: 600;
						font-size: rem(32);
						line-height: rem(40);
					}
				}
			}
		}

		&.theme-2 {
			display: grid;
			row-gap: rem(8);
			.option {
				position: relative;
				background-color: var(--light-grey);
				border-radius: rem(12);
				padding: rem(8);
				display: flex;
				column-gap: rem(12);
				.input {
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					opacity: 0%;
					&:checked ~ .decoration {
						border-width: rem(8);
						border-color: #ffc100;
					}
				}
				.decoration {
					width: rem(24);
					height: rem(24);
					border-radius: 50%;
					border: rem(1) solid var(--dark-t);
				}
				.label {
					flex: 1;
					font-weight: 400;
					font-size: rem(14);
					line-height: rem(24);
					color: var(--dark);
				}
			}
		}
	}
}
@include dark() {
	.app-radio-button {
		&.theme-1 {
			border-color: var(--light-t);
			.option {
				.label {
					color: var(--light);
				}
			}
		}
		&.theme-2 {
			.option {
				background-color: var(--dark-grey);
				.label {
					color: var(--light);
				}
				.decoration {
					border-color: var(--light-t);
				}
			}
		}
	}
}
