<div class="categories-select" *ngIf="categories?.length; else skeleton">
	<ul class="categories">
		<li class="category" *ngFor="let category of categories; let i = index; trackBy: trackByFn">
			<a class="link" [routerLink]="category.id">
				<app-image class="image" [remote]="true" placeholder="category"></app-image>
				<p class="label">{{ category.name }}</p>
			</a>
		</li>
	</ul>
</div>

<ng-template #skeleton>
	<app-skeleton-categories-select></app-skeleton-categories-select>
</ng-template>
