<ng-container *transloco="let t">
	<div class="preview-place" *ngIf="place">
		<app-image class="image" [remote]="true" [name]="place.file?.url" placeholder="place"></app-image>
		<span class="label">{{ place.name }}</span>
		<span class="status" [ngClass]="isOpen ? 'opened' : 'closed'">{{
			t("PLACE." + (isOpen ? "OPENED" : "CLOSED"))
		}}</span>
		<div class="address">
			<app-icon class="icon" name="location"></app-icon>
			<span class="text">{{ place.address }}</span>
		</div>
		<div class="time" *ngIf="place.weekDays">
			<app-icon class="icon" name="time"></app-icon>
			<span class="text">{{ place.weekDays.start }}:00 - {{ place.weekDays.end }}:00</span>
		</div>
	</div>
</ng-container>
