<div class="product-skeleton">
	<app-image class="image" name="product" placeholder="product"></app-image>

	<app-skeleton class="name" appearance="line" [theme]="{ width: '70%', height: '24px' }"></app-skeleton>
	<div class="description">
		<app-skeleton appearance="line" [theme]="{ width: '50%' }"></app-skeleton>
		<app-skeleton appearance="line" [theme]="{ 'margin-top': '5px' }"></app-skeleton>
	</div>
	<app-skeleton class="price" appearance="line" [theme]="{ width: '60px', height: '24px' }"></app-skeleton>

	<app-skeleton class="counter" appearance="circle" [theme]="{ height: '36px', width: '36px' }"></app-skeleton>
</div>
