<div class="verification-code" *transloco="let t; read: 'verificationCode'">
	<app-image class="image" name="sign-in"></app-image>

	<app-card theme="1">
		<div class="card">
			<h1 appTypography theme="2" class="title">{{ t("title") }}</h1>
			<p appTypography theme="3" class="description">{{ t("description") }}</p>

			<form class="form" [formGroup]="form" (ngSubmit)="verifyCode(form.value)">
				<app-code-input class="code-input" formControlName="verificationCode"></app-code-input>

				<p appTypography theme="3" class="help">
					{{ t("didnt-come") }} <button class="resend">{{ t("send-again") }}</button>
				</p>

				<button appButton theme="1" class="submit">{{ t("send") }}</button>
			</form>
		</div>
	</app-card>
</div>
