@import "/src/assets/scss/abstractions";

@include page() {
	.verification-code {
		width: 100%;
		height: 100%;
		padding: rem(0) rem(20);
		.image {
			display: none;
		}
		.card {
			display: grid;
			row-gap: rem(12);
			.form {
				display: grid;
				grid-template-rows: auto auto 1fr;
				row-gap: rem(24);
				.help {
					align-self: start;
					font-weight: 400;
					font-size: rem(11);
					line-height: rem(16);
					.resend {
						color: var(--primary);
						text-decoration: underline;
						font-size: rem(11);
					}
				}
			}
		}
	}

	@include desktop() {
		.verification-code {
			display: flex;
			align-items: center;
			justify-content: center;
			.image {
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				z-index: -1;
			}
			.card {
				.description {
					font-weight: 400;
					font-size: rem(16);
					line-height: rem(24);
				}
				.form {
					display: grid;
					row-gap: rem(12);
				}
			}
		}
	}
}
