<div class="verification-code" *transloco="let t">
	<app-image class="image" name="auth"></app-image>

	<app-card theme="1">
		<div class="card">
			<h1 appTypography theme="2" class="title">{{ t("VERIFIFICATION_CODE.TITLE") }}</h1>
			<p appTypography theme="3" class="description">{{ t("VERIFIFICATION_CODE.DESCRIPTION") }}</p>

			<form class="form" [formGroup]="formGroup" (ngSubmit)="verifyCode(formGroup.value)">
				<app-code-input class="code-input" formControlName="verificationCode"></app-code-input>

				<p appTypography theme="3" class="help">
					{{ t("VERIFIFICATION_CODE.DIDNT_COME") }}
					<button class="resend" (click)="sendAgain()">{{ t("VERIFIFICATION_CODE.SEND_AGAIN") }}</button>
				</p>

				<button appButton theme="1" class="submit" [disabled]="formGroup.invalid">
					{{ t("VERIFIFICATION_CODE.SEND") }}
				</button>
			</form>
		</div>
	</app-card>
</div>
