<ng-container *transloco="let t">
	<div class="profile-page" *ngIf="user$ | async as user">
		<div class="header">
			<h1 appTypography theme="1" class="title">{{ t("PROFILE.TITLE") }}</h1>

			<div class="tools">
				<app-language-select class="language"></app-language-select>
				<app-theme class="theme"></app-theme>
			</div>
		</div>
		<div class="info">
			<p class="name">{{ user.name }}</p>
			<p class="role">{{ user.role }}</p>
		</div>

		<form class="form" [formGroup]="formGroup">
			<app-input
				class="input name"
				theme="2"
				formControlName="name"
				[label]="t('FORM.NAME_LABEL')"
				[placeholder]="t('FORM.NAME_PLACEHOLDER')"
			></app-input>
			<app-input
				class="input tel"
				theme="2"
				formControlName="tel"
				[label]="t('FORM.TEL_LABEL')"
				[placeholder]="t('FORM.TEL_PLACEHOLDER')"
			></app-input>
			<app-input
				class="input email"
				theme="2"
				formControlName="email"
				[label]="t('FORM_EMAIL_LABEL')"
				[placeholder]="t('FORM_EMAIL_PLACEHOLDER')"
			></app-input>

			<app-image class="image" name="manager"></app-image>
		</form>

		<button class="delete" (click)="deleteMe()">{{ t("PROFILE.DELETE_ORDER") }}</button>
	</div>
</ng-container>
