@import "/src/assets/scss/abstractions";

@include page() {
	.profile-page {
		display: grid;
		row-gap: rem(16);

		@include pagePadding();
		@include desktop() {
			row-gap: rem(32);
		}

		.header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			.tools {
				display: flex;
				align-items: center;
				column-gap: rem(15);
			}
		}

		.info {
			display: grid;
			padding-left: rem(16);
			border-left: rem(2) solid var(--primary);
			.name {
				font-weight: 500;
				font-size: rem(16);
				line-height: rem(24);
				color: var(--dark);
			}
			.role {
				font-weight: 500;
				font-size: rem(13);
				line-height: rem(16);
				color: var(--primary);
			}
		}

		.form {
			display: grid;
			padding: rem(20) rem(20) rem(0) rem(20);
			background-color: var(--light-grey);
			border-radius: rem(16);
			row-gap: rem(12);
			grid-template-areas:
				"name"
				"email"
				"tel"
				"role"
				"submit"
				"image";

			@include desktop() {
				grid-template-areas:
					"image name tel"
					"image email email"
					"image . submit";
				grid-template-columns: auto 1fr 1fr;
				column-gap: rem(24);
				padding: rem(20) rem(20) rem(0) rem(0);
			}

			.name {
				grid-area: name;
			}
			.email {
				grid-area: email;
			}
			.tel {
				grid-area: tel;
			}
			.role {
				grid-area: role;
			}
			.submit {
				grid-area: submit;
				align-self: start;
				justify-self: end;
				width: 100%;

				@include desktop() {
					width: auto;
				}
			}
			.image {
				grid-area: image;
				align-self: end;
				justify-self: start;
				margin-top: rem(12);
				height: rem(150);
				margin-left: rem(-20);

				@include image() {
					object-fit: contain;
				}
				@include desktop() {
					width: rem(229);
					height: auto;
					grid-area: image;
					margin-left: 0;

					@include image () {
						object-fit: cover;
					}
				}
			}
			.submit {
				padding: rem(10) rem(24);
				background-color: var(--primary);
				border-radius: rem(12);
				font-weight: 600;
				font-size: rem(16);
				line-height: rem(24);
				color: var(--dark);
			}
		}

		.delete {
			font-weight: 400;
			font-size: rem(11);
			line-height: rem(16);
			text-decoration-line: underline;
			color: #393939;
			text-align: center;

			@include desktop() {
				text-align: left;
				font-size: rem(13);
			}
		}
	}
}
@include dark() {
	.profile-page {
		.info {
			.name {
				color: var(--light);
			}
		}

		.form {
			background-color: var(--dark-grey);
		}

		.delete {
			color: var(--light);
		}
	}
}
