<div class="products-page" *transloco="let t; read: productsPageI18n">
	<h1 appTypography theme="1" class="title">{{ t("title") }}</h1>
	<ul class="products">
		<li class="product" *ngFor="let product of products$ | async">
			<a class="link" [routerLink]="product.id">
				<app-preview-product
					[product]="product"
					[count]="product.count"
					(minusClicked)="removeProductFromOrder(product.id)"
					(plusClicked)="addProductToOrder(product.id)"
				></app-preview-product>
			</a>
		</li>
	</ul>
</div>
