<div class="products-page" *transloco="let t">
	<h1 appTypography theme="1" class="title">{{ t("PRODUCTS.TITLE") }}</h1>

	<ul class="products">
		<li class="product" *ngFor="let product of products$ | async; trackBy: sharedService.trackByFn">
			<app-preview-product
				class="preview-product"
				[product]="product"
				(plusClicked)="addProductToOrder($event)"
				(minusClicked)="removeProductFromOrder($event)"
				(productClicked)="openProductDialog($event)"
			></app-preview-product>
		</li>
	</ul>
</div>
