<div class="products-page" *transloco="let t">
	<h1 appTypography theme="1" class="title">{{ t("PRODUCTS.TITLE") }}</h1>

	<ul class="products">
		<li class="product" *ngFor="let product of products$ | async; trackBy: sharedService.trackByFn">
			<button class="button" (click)="openProductDialog(product)">
				<app-preview-product
					class="preview-product"
					[product]="product"
					(plusClicked)="addProductToOrder($event)"
					(minusClicked)="removeProductFromOrder($event)"
				></app-preview-product>
			</button>
		</li>
	</ul>
</div>
