@import "/src/assets/scss/abstractions";

@include component() {
	.app-multiple-checkbox {
		&.theme-1 {
			display: grid;
			row-gap: rem(8);
			.option {
				position: relative;
				.input {
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					opacity: 0%;
					z-index: 1;
					&:checked ~ .field .decoration {
						background-color: #ffc100;
						.icon {
							opacity: 100%;
						}
					}
					&:disabled ~ .field {
						background-color: rgb(0 0 0 / 2%);
						.label {
							color: var(--dark-d);
						}
					}
				}
				.field {
					background-color: var(--light-grey);
					border-radius: rem(12);
					padding: rem(8);
					display: flex;
					column-gap: rem(12);
					.decoration {
						width: rem(24);
						height: rem(24);
						border-radius: 50%;
						background-color: var(--light);
						display: flex;
						align-items: center;
						justify-content: center;
						.icon {
							opacity: 0%;
							width: rem(12);
							height: rem(12);
						}
					}
					.label {
						flex: 1;
						font-weight: 400;
						font-size: rem(14);
						line-height: rem(24);
						color: var(--dark);
					}
				}
			}
		}
	}
}
@include dark() {
	.app-multiple-checkbox.theme-1 .option {
		.input {
			&:disabled ~ .field {
				background-color: rgb(255 255 255 / 2%);
				.label {
					color: var(--light-d);
				}
			}
		}
		.field {
			background-color: var(--dark-grey);
			.label {
				color: var(--light);
			}
			.decoration {
				background-color: var(--dark);
			}
		}
	}
}
