<div class="products-page" *transloco="let t; read: confirmProductsPageI18n">
	<h1 appTypography theme="1" class="title">{{ t("title") }}</h1>
	<ul class="products">
		<li class="product" *ngFor="let product of products$ | async; trackBy: trackByFn">
			<a class="link" [routerLink]="product.id">
				<app-preview-product
					[product]="product"
					[productsToOrders]="product.productsToOrders"
					(minusClicked)="removeProductFromOrder($event)"
					(plusClicked)="addProductToOrder($event)"
				></app-preview-product>
			</a>
		</li>
	</ul>
</div>
