<div class="products-page" *transloco="let t; read: confirmProductsPageI18n">
	<h1 appTypography theme="1" class="title">{{ t("title") }}</h1>
	<ul class="products">
		<ng-template #skeleton>
			<li class="product">
				<app-skeleton-confirm-product></app-skeleton-confirm-product>
			</li>
			<li class="product">
				<app-skeleton-confirm-product></app-skeleton-confirm-product>
			</li>
		</ng-template>

		<ng-container *ngIf="products$ | async as products; else skeleton">
			<li class="product" *ngFor="let product of products; trackBy: trackByFn">
				<app-confirm-product
					[product]="product"
					(minusClicked)="removeProductFromOrder($event)"
					(plusClicked)="addProductToOrder($event)"
				></app-confirm-product>
			</li>
		</ng-container>
	</ul>
</div>
