@import "/src/assets/scss/abstractions";

@include page() {
	.welcome-page {
		@include pagePadding();
		display: grid;
		row-gap: rem(12);

		.subtitle {
			font-weight: 500;
			font-size: 1rem;
			line-height: 1.5rem;
			color: var(--dark);
		}
	}
}
@include dark() {
	.welcome-page {
	}
}
