@import "/src/assets/scss/abstractions";

@include page() {
	.places-page {
		display: grid;
		row-gap: rem(12);

		@include pagePadding();
		.places {
			display: grid;
			grid-gap: rem(10);

			@include desktop() {
				grid-template-columns: 1fr 1fr 1fr;
			}
		}
	}
}
