@import "/src/assets/scss/abstractions";

@include page() {
	.tables-page {
		display: grid;
		row-gap: rem(12);

		.tables {
			display: grid;
			row-gap: rem(12);
		}

		@include pagePadding();
	}
}
