@import "/src/assets/scss/abstractions";

@include page() {
	.footer {
		padding: rem(15);
		display: flex;
		justify-content: space-between;
		column-gap: rem(15);
		.back {
			border-radius: rem(12);
			background-color: var(--light-grey);
			display: flex;
			align-items: center;
			justify-content: center;
			column-gap: rem(10);
			padding: rem(5) rem(15);
			.icon {
				height: rem(35);
				&::ng-deep {
					svg {
						stroke: var(--dark);
					}
				}
			}
			.label {
				font-weight: bold;
				color: var(--dark);
				font-size: rem(14);
				line-height: rem(16);
			}
		}

		.action {
			flex: 1;

			@include noWrap();
		}
	}
}
@include dark() {
	.footer {
		.back {
			background-color: var(--dark-grey);
		}
	}
}
