@import "/src/assets/scss/abstractions";

@include page() {
	.footer {
		padding: rem(15);
		display: flex;
		justify-content: space-between;
		column-gap: rem(15);
		.back {
			width: rem(50);
			height: rem(50);
			border-radius: rem(12);
			background-color: var(--light-grey);
			display: flex;
			align-items: center;
			justify-content: center;
			.icon {
				width: rem(35);
				height: rem(35);
				&::ng-deep {
					svg {
						stroke: var(--dark);
					}
				}
			}
		}

		.basket {
			width: rem(50);
			height: rem(50);
			border-radius: rem(12);
			background-color: var(--light-grey);
			display: flex;
			align-items: center;
			justify-content: center;
			.icon {
				width: rem(35);
				height: rem(35);
				&::ng-deep {
					svg {
						fill: var(--dark);
					}
				}
			}
		}

		.action {
			flex: 1;

			@include noWrap();
		}
	}
}
@include dark() {
	.footer {
		.back {
			background-color: var(--dark-grey);
			.icon {
			}
		}
	}
}
