<footer class="footer">
	<a class="back" *ngIf="backUrl$ | async as backUrl" [routerLink]="backUrl">
		<app-icon class="icon" name="back"></app-icon>
	</a>

	<button appButton theme="1" class="action" *ngIf="action$ | async as action" (click)="action.action()">
		{{ action.label }}
	</button>

	<a
		class="basket"
		*ngIf="activeOrder$ | async as activeOrder"
		[routerLink]="clientRoutes.ACTIVE_ORDER.absolutePath.replace(':id', activeOrder.id)"
	>
		<app-icon class="icon" name="basket"></app-icon>
		<span class="count">{{ "5" }}</span>
	</a>
</footer>
