@import "src/assets/scss/abstractions";

@include component() {
	.ios-datepicker {
		display: grid;
		position: relative;
		grid-auto-flow: column;
		grid-template-columns: auto auto auto min-content auto;
		width: 100%;

		&.valid .active-item {
			background-color: var(--success-t);
		}

		&.invalid .active-item {
			background-color: var(--danger-t);
		}

		.active-item {
			position: absolute;
			width: 100%;
			border-radius: rem(12);
			&.VALID {
				background-color: var(--success);
			}
			&.INVALID {
				background-color: var(--danger);
			}
			&.LOADING {
				background-color: var(--primary);
			}
		}

		.container {
			overflow: hidden;
		}

		.list {
			position: relative;
			z-index: 1;
			height: 100%;
			overflow: auto;
			-ms-overflow-style: none; /* IE and Edge */
			scrollbar-width: none; /* Firefox */
			box-sizing: border-box;
			&::-webkit-scrollbar {
				display: none;
			}
			.list-item {
				.button {
					width: 100%;
					height: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
					color: var(--dark);
					font-size: rem(24);
					text-align: left;
				}
			}

			&.months {
				.list-item {
					.button {
						justify-content: flex-start;
					}
				}
			}
		}

		.time-splitter {
			display: grid;
			align-items: center;
			z-index: 1;
			font-size: rem(24);
			color: var(--dark);
			transform: translateY(-(rem(2)));
		}
	}
}
@include dark() {
	.ios-datepicker {
		.list .list-item .button {
			color: var(--dark-grey);
		}
		.time-splitter {
			color: var(--dark-grey);
		}
	}
}
