<div class="order-preview" [class.active]="isActive" *ngIf="order">
	<span class="name">Заказ {{ order.code || order.orderNumber }}</span>
	<span class="sum">{{ order.totalPrice }}</span>
	<div class="type">
		<app-icon class="icon" name="to-go"></app-icon>
		<span class="text">{{ order.type }}</span>
	</div>
	<div class="time">
		<app-icon class="icon" name="bell"></app-icon>
		<span class="text">{{ "12:00" }}</span>
	</div>
	<div class="place">
		<app-icon class="icon" name="location"></app-icon>
		<span class="text">{{ order.place.name }}</span>
	</div>
</div>
