@import "/src/assets/scss/abstractions/index";

@include page() {
	.aside {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		position: relative;
		background-color: var(--light);
		padding: rem(14) rem(24);
		border-right: rem(1) solid var(--dark-b);
		gap: rem(12);

		.user {
			display: grid;
			align-items: center;
			grid-template-areas:
				"image name sign-out"
				"image description sign-out";
			padding: rem(8);
			grid-template-columns: auto 1fr;
			column-gap: rem(17);
			row-gap: rem(2);
			background-color: var(--light-grey);
			border-radius: rem(20);

			@include hideOnDesktop(grid);

			.image {
				grid-area: image;
				width: rem(56);
				height: rem(56);
				background: linear-gradient(180deg, var(--primary) 0%, #ff9c01 100%);
				backdrop-filter: blur(rem(8));
				border-radius: rem(16);
				display: flex;
				align-items: center;
				justify-content: center;
				font-weight: 600;
				font-size: rem(20);
				line-height: rem(32);
				color: var(--dark);
			}
			.name {
				grid-area: name;
				font-weight: 500;
				font-size: rem(16);
				line-height: rem(24);
				color: var(--dark);
				align-self: flex-end;
			}
			.description {
				grid-area: description;
				font-weight: 400;
				font-size: rem(12);
				line-height: rem(16);
				color: var(--dark-t);
				align-self: start;
			}

			.sign-out {
				display: flex;
				align-items: center;
				justify-content: center;
				width: rem(42);
				height: rem(42);
				grid-area: sign-out;
				background-color: var(--light);
				border-radius: rem(12);
				.icon {
					width: rem(21);
					height: rem(21);
				}
			}
		}

		.active-order {
			@include hideOnMobile();
		}

		.nav {
			flex: 1;
			overflow: hidden;
			padding-top: rem(32);
			border-top: rem(1) solid var(--dark-b);
			.pages {
				height: 100%;
				display: flex;
				flex-direction: column;
				row-gap: rem(10);
				overflow: auto;
				.page {
					.link {
						display: flex;
						align-items: center;
						column-gap: rem(8);
						padding: rem(11);
						border-radius: rem(8);
						background-color: transparent;
						&:hover:not(.active) {
							.label {
								color: var(--primary);
							}
							.icon {
								@include icon() {
									path {
										fill: var(--primary);
									}
								}
							}
						}
						&.active {
							background-color: var(--primary);
							.icon {
								@include icon() {
									path {
										fill: var(--dark);
									}
								}
							}
							.label {
								color: var(--dark);
							}
						}
						&.disabled {
							@include disableLink();
							span {
								color: var(--dark-d);
							}
							.icon {
							}
						}
						.label {
							font-weight: 400;
							font-size: rem(16);
							line-height: rem(24);
							color: var(--dark);
						}
						.icon {
							width: rem(24);
							height: rem(24);
						}
					}
				}
			}
		}

		.support {
			display: grid;
			grid-template-areas:
				"icon label"
				". tel";
			column-gap: rem(8);
			row-gap: rem(8);
			grid-template-columns: auto 1fr;
			padding: rem(11);
			.icon {
				grid-area: icon;
				width: rem(24);
				height: rem(24);
			}
			.label {
				grid-area: label;
				font-weight: 400;
				font-size: rem(16);
				line-height: rem(20);
				color: var(--grey);
			}
			.tel {
				grid-area: tel;
				font-weight: 400;
				font-size: rem(13);
				line-height: rem(16);
				color: var(--dark);
			}
		}
	}
}
@include dark() {
	.aside {
		background-color: var(--dark);
		border-color: var(--light-b);
		.active-order {
			.code {
				color: var(--light);
			}
			.divider {
				background-color: var(--light-b);
			}
		}
		.user {
			background-color: var(--dark-grey);
			.name {
				color: var(--light);
			}
			.description {
				color: var(--light-t);
			}
			.sign-out {
				background-color: var(--dark);
				.icon {
					@include icon() {
						path {
							fill: var(--light);
						}
					}
				}
			}
		}
		.nav {
			border-color: var(--light-b);
			.pages .page .link {
				.label {
					color: var(--light);
				}
				.icon {
					@include icon() {
						path {
							fill: var(--light);
						}
					}
				}

				&:hover:not(.active) {
					.label {
						color: var(--primary);
					}
					.icon {
						@include icon() {
							path {
								fill: var(--primary);
							}
						}
					}
				}
				&.active {
					background-color: var(--primary);
					.icon {
						@include icon() {
							path {
								fill: var(--dark);
							}
						}
					}
					.label {
						color: var(--dark);
					}
				}
				&.disabled {
					span {
						color: var(--light-b);
					}
					.icon {
					}
				}
			}
		}
		.support {
			.label {
				color: var(--grey);
			}
			.tel {
				color: var(--light);
			}
		}
	}
}
