<aside class="aside" *transloco="let t">
	<div class="user" *ngIf="user">
		<div class="image">{{ user.name | initials }}</div>
		<p class="name">{{ user.name }}</p>
		<p class="description">{{ t("ASIDE.DESCRIPTION") }}</p>
	</div>

	<nav class="nav">
		<ul class="pages">
			<li class="page" *ngFor="let page of pages">
				<a class="link" (click)="emitCloseClick()" [routerLink]="page.routerLink">
					<app-icon class="icon" [name]="page.icon"></app-icon>
					<span class="label">{{ t("ASIDE." + page.label) }}</span>
				</a>
			</li>
		</ul>
	</nav>

	<div class="share">
		<button class="button" appButton theme="3">
			<app-icon class="icon" name="share"></app-icon>
			<span class="text">{{ t("ASIDE.SHARE_ORDER") }}</span>
		</button>
	</div>
</aside>
