<div class="all-orders-page" *transloco="let t">
	<h1 appTypography theme="1" class="title">{{ t("ACTIVE_ORDERS.TITLE") }}</h1>

	<ng-container *ngIf="activeOrders$ | async as activeOrders">
		<ul class="active-orders" *ngIf="activeOrders?.length; else noOrders">
			<li class="active-order" *ngFor="let activeOrder of activeOrders; trackBy: sharedService.trackByFn">
				<a class="link" [routerLink]="activeOrder.id">
					<app-preview-order [isActive]="true" [order]="activeOrder"></app-preview-order>
				</a>
			</li>
		</ul>
	</ng-container>

	<a appButton theme="2" [routerLink]="historyOrdersLink">{{ t("ACTIVE_ORDERS.HISTORY_ORDERS") }}</a>

	<ng-template #noOrders>
		<div class="not-orders">
			<app-image name="active-orders" class="image"></app-image>
			<p class="text">{{ t("ACTIVE_ORDERS.NOT_ORDERS") }}</p>
		</div>
	</ng-template>
</div>
