<div class="all-orders-page" *transloco="let t; read: activeOrdersPageI18n">
	<div class="not-orders" *ngIf="false">
		<app-image name="active-orders" class="image"></app-image>
		<p class="text">У вас пока нет активных заказов</p>
	</div>

	<h1 appTypography theme="1" class="title">{{ t("title") }}</h1>

	<ul class="active-orders">
		<ng-container *ngIf="activeOrders$ | async as orders; else skeleton">
			<li class="active-order" *ngFor="let order of orders; trackBy: trackByFn">
				<a class="link" [routerLink]="order.routerLink">
					<app-order-preview [isActive]="true" [order]="order"></app-order-preview>
				</a>
			</li>
		</ng-container>
	</ul>

	<a appButton theme="2" [routerLink]="historyOrdersLink">{{ t("history") }}</a>
</div>

<ng-template #skeleton>
	<app-skeleton-order></app-skeleton-order>
</ng-template>
