@import "/src/assets/scss/abstractions";

@include page() {
	.reset-password {
		width: 100%;
		height: 100%;

		@include desktop() {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.image {
			display: none;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: -1;

			@include hideOnMobile();
		}

		.card {
			display: grid;
			row-gap: rem(12);
			.logo {
				display: block;
				margin: 0 auto;
				width: rem(100);
			}

			.form {
				display: grid;
				row-gap: rem(24);
				.radio-button {
					width: 100%;
				}
				.input {
					width: 100%;
				}
				.submit {
					width: 100%;
				}
			}

			.links {
				display: flex;
				justify-content: space-between;
				.link {
					font-size: rem(14);
				}
			}
		}
	}
}
