<div class="reset-password" *transloco="let t">
	<app-image class="image" name="sign-in"></app-image>

	<app-card theme="1" class="card">
		<app-image class="logo" name="logo"></app-image>
		<form class="form" [formGroup]="form" [ngSwitch]="typeControl.value" (ngSubmit)="resetPassword(form.value)">
			<app-input
				class="input"
				type="password"
				placeholder="Введите новый пароль"
				formControlName="password"
			></app-input>

			<button appButton class="submit">Сбросить пароль</button>
		</form>

		<div class="links">
			<a appLink [routerLink]="clientRoutes.SIGN_IN.absolutePath" class="link">Войти</a>
			<a appLink [routerLink]="clientRoutes.SIGN_UP.absolutePath" class="link">Зарегестрироваться</a>
		</div>
	</app-card>
</div>
