<div class="reset-password" *transloco="let t">
	<app-image class="image" name="auth"></app-image>

	<app-card theme="1">
		<div class="card">
			<app-image class="logo" name="logo"></app-image>

			<form
				class="form"
				[formGroup]="formGroup"
				[ngSwitch]="typeControl.value"
				(ngSubmit)="resetPassword(formGroup.value)"
			>
				<app-input
					class="input"
					type="password"
					formControlName="password"
					[label]="t('FORM.PASSWORD_LABEL')"
					[placeholder]="t('FORM.PASSWORD_PLACEHOLDER')"
					[errors]="formGroup.controls['password'].errors"
				></app-input>

				<button appButton class="submit" [disabled]="formGroup.invalid">{{ t("AUTH.RESET_PASSWORD") }}</button>
			</form>

			<div class="links">
				<a appLink [routerLink]="clientRoutes.SIGN_IN.absolutePath" class="link">{{ t("AUTH.SIGN_IN") }}</a>
				<a appLink [routerLink]="clientRoutes.SIGN_UP.absolutePath" class="link">{{ t("AUTH.SIGN_UP") }}</a>
			</div>
		</div>
	</app-card>
</div>
