<div class="all-orders-page" *transloco="let t">
	<h1 appTypography theme="1" class="title">{{ t("HISTORY_ORDERS.TITLE") }}</h1>

	<ng-container *ngIf="historyOrders$ | async as historyOrders; else noOrders">
		<ul class="history-orders" *ngIf="historyOrders.length; else noOrders">
			<li class="history-order" *ngFor="let historyOrder of historyOrders; trackBy: sharedService.trackByFn">
				<a class="link" [routerLink]="historyOrder.id">
					<app-preview-order [order]="historyOrder"></app-preview-order>
				</a>
			</li>
		</ul>
	</ng-container>

	<ng-template #noOrders>
		<div class="not-orders">
			<app-image name="active-orders" class="image"></app-image>
			<p class="text">{{ t("HISTORY_ORDERS.NOT_ORDERS") }}</p>
		</div>
	</ng-template>
</div>
