<div class="all-orders-page" *transloco="let t; read: historyOrdersPageI18n">
	<h1 appTypography theme="1" class="title">{{ t("history") }}</h1>

	<ul class="history-orders">
		<ng-container *ngIf="historyOrders$ | async as historyOrders; else skeleton">
			<ng-container *ngIf="historyOrders.length; else skeleton">
				<li class="history-order" *ngFor="let historyOrder of historyOrders; trackBy: trackByFn">
					<a class="link" [routerLink]="historyOrder.routerLink">
						<app-preview-order [order]="historyOrder"></app-preview-order>
					</a>
				</li>
			</ng-container>
		</ng-container>
	</ul>
</div>

<ng-template #skeleton>
	<div class="not-orders">
		<app-image name="active-orders" class="image"></app-image>
		<p class="text">У вас пока нет активных заказов</p>
	</div>
</ng-template>
