@import "/src/assets/scss/abstractions/index";

@include page() {
	.connect-to-table {
		display: grid;
		justify-content: center;
		row-gap: rem(12);
		height: 100%;

		@include pagePadding();
		grid-template-rows: auto auto auto 1fr auto;

		.subtitle {
			font-weight: 500;
			font-size: rem(16);
			line-height: rem(24);
			color: var(--dark);
		}

		.image {
			width: rem(300);
			height: rem(300);
			margin: 0 auto;

			@include image() {
				object-fit: contain;
			}
		}

		.link {
			position: relative;
			height: rem(52);
			background-color: var(--light-grey);
			border-radius: rem(16);
			display: flex;
			align-items: center;
			justify-content: center;
			gap: rem(5);

			.label {
				font-size: rem(14);
				line-height: rem(24);
				font-weight: bold;
				color: var(--dark);
			}

			.image {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				z-index: 0;

				@include image() {
					object-fit: cover;
				}
			}

			.icon {
				width: rem(18);
				height: rem(18);

				@include icon() {
					path {
						fill: var(--dark);
					}
				}
			}

			&.menu {
				.icon {
					@include icon() {
						path {
							fill: var(--primary-hover);
						}
					}
				}
				.label {
					color: var(--primary-hover);
				}
			}
		}
	}
}
@include dark() {
	.connect-to-table {
		.subtitle {
			color: var(--light);
		}
		.or {
			color: var(--light);
		}
		.link {
			background-color: var(--dark-grey);
		}
	}
}
