<div class="connect-to-table" *transloco="let t">
	<h1 appTypography theme="1" class="title">{{ t("CONNECT_TO_TABLE.TITLE") }}</h1>
	<h2 class="subtitle">{{ t("CONNECT_TO_TABLE.DESCRIPTION") }}</h2>

	<app-code-input class="code-input" [formControl]="codeControl"></app-code-input>

	<app-image class="image" name="connect-to-table"></app-image>

	<a class="link menu" [routerLink]="menuRouterLink">
		<app-image class="image" name="menu-decoration"></app-image>
		<app-icon class="icon" name="menu"></app-icon>
		<span class="label">{{ t("CREATE_ORDER.MENU") }}</span>
	</a>
</div>
