@import "/src/assets/scss/abstractions";

@include page() {
	.halls-skeleton {
		display: grid;
		grid-gap: rem(12);

		@include pagePadding();
		.halls {
			display: grid;
			grid-gap: rem(12);

			@include desktop() {
				grid-template-columns: 1fr 1fr 1fr;
			}
		}
	}
}
