<div class="halls-page">
	<h1 appTypography theme="1" class="title">Выберите зал</h1>

	<ul class="halls">
		<li class="hall" *ngFor="let hall of halls$ | async">
			<a class="link" [routerLink]="hall.id">
				<app-image class="image" [remote]="true" [name]="hall.file?.url" placeholder="hall"></app-image>
				<div class="content">
					<span class="label">{{ hall.name }}</span>
					<div class="status">
						<app-icon class="icon" name="smoking"></app-icon>
						<span class="text">{{ hall.address }} Для курящих</span>
					</div>
				</div>
			</a>
		</li>
	</ul>
</div>
