@import "/src/assets/scss/abstractions";

@include page() {
	.active-order-skeleton {
		position: relative;
		display: grid;
		row-gap: rem(12);

		@include pagePadding();
		.products {
			display: grid;
			row-gap: rem(12);
		}
	}
}
@include dark() {
	.active-order-skeleton {
	}
}
