<div class="table-dialog">
	<app-image class="image" name="table"></app-image>

	<div class="content">
		<app-skeleton class="label" [theme]="{ width: '100%', height: '46px' }"></app-skeleton>
		<app-skeleton class="status" [theme]="{ width: '100%', height: '46px' }"></app-skeleton>

		<app-skeleton class="datepicker" [theme]="{ width: '100%', height: '46px' }"></app-skeleton>
	</div>

	<div class="footer">
		<app-skeleton class="submit" [theme]="{ width: '100%', height: '46px' }"></app-skeleton>
	</div>
</div>
