<div class="preview-product" *ngIf="product">
	<app-product-without-attributes
		class="product-without-attributes"
		[product]="product"
		[productToOrder]="productWithoutAttributes"
		(minusClicked)="emitMinusClick($event)"
		(plusClicked)="emitPlusClick($event)"
		(productCLicked)="emitProductClicked($event)"
	></app-product-without-attributes>

	<ul class="products-with-attributes">
		<li class="product-with-attributes" *ngFor="let productWithAttributes of productsWithAttributes">
			<app-product-with-attributes
				[product]="product"
				[productToOrder]="productWithAttributes"
				(minusClicked)="emitMinusClick($event)"
				(plusClicked)="emitPlusClick($event, productWithAttributes.attributesIds)"
				(productCLicked)="emitProductClicked($event)"
			></app-product-with-attributes>
		</li>
	</ul>
</div>
