@import "/src/assets/scss/abstractions/index";

@include component() {
	.preview-product {
		display: grid;
		row-gap: rem(15);

		.products-with-attributes {
			padding: 0 rem(8) 0 rem(16);
			border-left: rem(1) solid var(--dark-b);
			display: grid;
			row-gap: rem(16);
		}
	}
}
@include dark() {
	.preview-product {
		.products-with-attributes {
			border-color: var(--light-b);
		}
	}
}
