<div class="preview-product" *ngIf="product">
	<div class="product">
		<app-image class="image" [remote]="true" [name]="product.file?.url" placeholder="product"></app-image>

		<p class="name">{{ product.name }}</p>
		<p class="description">{{ product.description }}</p>

		<hr class="divider" />

		<p class="price">{{ product.price }} грн</p>
		<p class="cal"></p>

		<app-counter
			theme="1"
			class="counter"
			[value]="count"
			(minusClicked)="emitMinusClick(product.id)"
			(plusClicked)="emitPlusClick(product.id)"
		></app-counter>
	</div>

	<ul class="products-with-attributes">
		<li class="product-with-attribute" *ngFor="let userToOrder of usersToProductsWithAttributes">
			<p class="name">{{ userToOrder.product?.name }}</p>
			<p class="cal">250 гр</p>
			<p class="attributes">{{ userToOrder.attributesName }}</p>
			<p class="price">{{ userToOrder.product?.price }} грн</p>
			<app-counter
				theme="2"
				class="counter"
				[value]="userToOrder.count"
				(plusClicked)="emitPlusClick(userToOrder.product?.id || '', userToOrder.attributes)"
				(minusClicked)="emitMinusClick(userToOrder.product?.id || '', userToOrder.attributes)"
			></app-counter>
		</li>
	</ul>
</div>
