@import "/src/assets/scss/abstractions/index";

@include component() {
	.preview-product {
		display: grid;
		row-gap: rem(16);
		.product {
			display: grid;
			border: rem(1) solid transparent;
			background-color: var(--light-grey);
			border-radius: rem(12);
			align-items: center;
			gap: rem(10);
			padding: rem(8) rem(8) rem(15);
			grid-template-areas:
				"image image image"
				"name name price"
				"description description counter";
			grid-template-columns: auto 1fr auto;
			.image {
				grid-area: image;
				//width: rem(56);
				height: rem(150);

				@include image() {
					border-radius: rem(12);
				}
			}
			.name {
				grid-area: name;
				font-weight: 500;
				font-size: rem(14);
				line-height: rem(24);
				color: var(--dark);
				text-align: left;

				@include noWrap();
			}
			.price {
				grid-area: price;
				font-weight: 500;
				font-size: rem(16);
				line-height: rem(24);
				color: var(--primary);
				justify-self: end;
			}
			.divider {
				grid-area: divider;
				height: rem(1);
				background-color: var(--dark-b);
			}
			.cal {
				grid-area: cal;
				font-weight: 400;
				font-size: rem(12);
				line-height: rem(16);
				color: var(--dark-t);
			}
			.description {
				grid-area: description;
				color: var(--dark-t);
				max-width: 80%;
				text-align: left;
			}
			.counter {
				grid-area: counter;
				justify-self: end;
				align-self: end;
			}
			&.active {
				border-color: var(--primary);
			}
		}

		.products-with-attributes {
			border-left: rem(1) solid var(--dark-b);
			padding-left: rem(16);
			.product-with-attribute {
				display: grid;
				grid-template-areas:
					"name price"
					"cal counter"
					"attributes counter";
				grid-template-columns: 1fr auto;
				.name {
					font-weight: 600;
					font-size: rem(14);
					line-height: rem(24);
					color: var(--dark);
					grid-area: name;
				}
				.cal {
					grid-area: cal;
					font-weight: 400;
					font-size: rem(12);
					line-height: rem(16);
					color: rgb(0 0 0 / 50%);
				}
				.attributes {
					grid-area: attributes;
					font-weight: 400;
					font-size: rem(12);
					line-height: rem(16);
					color: var(--dark);
					margin-top: rem(8);
				}
				.price {
					grid-area: price;
					align-self: end;
					font-weight: 600;
					font-size: rem(12);
					line-height: rem(16);
					color: var(--primary);
					text-align: right;
				}
				.counter {
					grid-area: counter;
					margin-top: rem(18);
					justify-self: end;
				}
			}
		}
	}
}
@include dark() {
	.preview-product {
		.product {
			background-color: var(--dark-grey);
			.content {
				.description {
					color: var(--light-t);
				}
				.name {
					color: var(--light);
				}
				.cal {
					color: var(--light-t);
				}
			}
		}
	}
}
