<ng-container *transloco="let t; read: 'referralLinkPage'">
	<div class="referral-link" *ngIf="activeOrder$ | async as activeOrder">
		<h1 appTypography theme="1" class="title">{{ t("title") }}</h1>

		<p class="description">{{ t("description") }}</p>

		<app-input class="input" [value]="activeOrder.code" [readonly]="true">
			<button appIconButton class="copy-button" (click)="copyCode(activeOrder.code)" icon>
				<app-icon class="icon" name="copy"></app-icon>
			</button>
		</app-input>

		<app-button class="button" theme="3">{{ t("send_link") }}</app-button>

		<p class="products">{{ t("products") }}</p>
	</div>
</ng-container>
