<ng-container *transloco="let t">
	<div class="referral-link" *ngIf="activeOrder$ | async as activeOrder">
		<h1 appTypography theme="1" class="title">{{ t("REFERRAL_LINK.TITLE") }}</h1>
		<h2 class="subtitle">{{ t("REFERRAL_LINK.ORDER_CODE") }} {{ activeOrder.code }}</h2>

		<p class="description">{{ t("REFERRAL_LINK.DESCRIPTION") }}</p>

		<app-input class="input" [value]="activeOrder.code" [readonly]="true">
			<button appIconButton class="copy-button" (click)="copyCode(activeOrder.code)" icon>
				<app-icon class="icon" name="copy"></app-icon>
			</button>
		</app-input>

		<app-button class="button" theme="3">{{ t("REFERRAL_LINK.SEND_LINK") }}</app-button>

		<p class="products">{{ t("REFERRAL_LINK.PRODUCTS") }}</p>
	</div>
</ng-container>
