@import "/src/assets/scss/abstractions";

@include page() {
	.footer {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.support {
			display: flex;
			column-gap: rem(5);
			.label {
				color: var(--light);
			}
			.tel {
				color: var(--primary);
			}
		}

		.happ {
			display: flex;
			align-items: center;
		}
	}
}
