<div class="all-orders-page" *transloco="let t">
	<h1 appTypography theme="1" class="title">{{ t("ORDERS.TITLE") }}</h1>

	<ul class="active-orders">
		<li class="active-order" *ngFor="let order of orders$ | async">
			<a class="link" [routerLink]="clienRoutes.ACTIVE_ORDER.absolutePath.replace(dynamicId, order.id)">
				<span class="name">Заказ {{ order.code }}</span>
				<span class="sum">{{ order.totalPrice }}</span>
				<div class="type">
					<app-icon class="icon" name="to-go"></app-icon>
					<span class="text">{{ order.type }}</span>
				</div>
				<div class="time">
					<app-icon class="icon" name="bell"></app-icon>
					<span class="text">{{ "12:00" }}</span>
				</div>
				<div class="place">
					<app-icon class="icon" name="location"></app-icon>
					<span class="text">{{ order.place.name }}</span>
				</div>
			</a>
		</li>
	</ul>

	<h1 appTypography theme="1" class="title">{{ t("ORDERS.HISTORY") }}</h1>

	<ul class="history-orders">
		<li class="history-order" *ngFor="let order of orders$ | async">
			<a class="link" [routerLink]="clienRoutes.HISTORY_ORDER.absolutePath.replace(dynamicId, order.id)">
				<span class="name">{{ t("ORDERS.CODE") }} {{ order.code }}</span>
				<span class="sum">{{ order.totalPrice }}</span>
				<div class="type">
					<app-icon class="icon" name="to-go"></app-icon>
					<span class="text">{{ order.type }}</span>
				</div>
				<div class="time">
					<app-icon class="icon" name="bell"></app-icon>
					<span class="text">{{ "12:00" }}</span>
				</div>
				<div class="place">
					<app-icon class="icon" name="location"></app-icon>
					<span class="text">{{ order.place.name }}</span>
				</div>
			</a>
		</li>
	</ul>
</div>
