@import "/src/assets/scss/abstractions";

@include page() {
	.all-orders-page {
		display: grid;
		row-gap: rem(12);

		@include pagePadding();
		.active-orders,
		.history-orders {
			display: grid;
			gap: rem(10);

			@include desktop() {
				grid-template-columns: 1fr 1fr;
			}
			.active-order,
			.history-order {
				.link {
					background-color: var(--primary);
					border-radius: rem(12);
					padding: rem(15);
					display: grid;
					grid-template-areas:
						"name sum"
						"type type"
						"time time"
						"place place";

					.name {
						grid-area: name;
						font-weight: 500;
						font-size: rem(16);
						line-height: rem(24);
						color: var(--dark);
					}
					.sum {
						grid-area: sum;
						justify-self: end;
						font-weight: 500;
						font-size: rem(16);
						line-height: rem(24);
						color: var(--dark);
					}
					.type,
					.time,
					.place {
						display: flex;
						gap: rem(6);

						.icon {
							width: rem(15);
							height: rem(15);
						}

						.text {
							font-weight: 500;
							font-size: rem(14);
							line-height: rem(24);
							color: var(--dark);
						}

						&.type {
							grid-area: type;
						}
						&.time {
							grid-area: time;
						}
						&.place {
							grid-area: place;
						}
					}
				}

				&.history-order .link {
					background-color: var(--light-grey);
				}
			}
		}
	}
}
@include dark() {
	.all-orders-page .history-orders .history-order .link {
		background-color: var(--dark-grey);

		.name,
		.sum,
		.type,
		.time,
		.place {
			color: var(--light);
			.icon {
			}
			.text {
				color: var(--light);
			}
		}
	}
}
