<div class="all-orders-page" *transloco="let t; read: allOrdersPageI18n">
	<h1 appTypography theme="1" class="title">{{ t("title") }}</h1>

	<ng-template #skeleton>
		<li class="active-order">
			<app-skeleton-order></app-skeleton-order>
		</li>
		<li class="active-order">
			<app-skeleton-order></app-skeleton-order>
		</li>
	</ng-template>

	<ul class="active-orders">
		<ng-container *ngIf="orders$ | async as orders; else skeleton">
			<li class="active-order" *ngFor="let order of orders; trackBy: trackByFn">
				<a class="link" [routerLink]="clienRoutes.ACTIVE_ORDER.absolutePath.replace(orderId, order.id)">
					<app-order-preview [isActive]="true" [order]="order"></app-order-preview>
				</a>
			</li>
		</ng-container>
	</ul>

	<h1 appTypography theme="1" class="title">{{ t("history") }}</h1>

	<ul class="history-orders">
		<li class="history-order" *ngFor="let historyOrder of historyOrders$ | async; trackBy: trackByFn">
			<app-order-preview [order]="historyOrder"></app-order-preview>
		</li>
	</ul>
</div>
