@import "/src/assets/scss/abstractions";

@include page() {
	.all-orders-page {
		display: grid;
		row-gap: rem(12);

		@include pagePadding();
		.active-orders,
		.history-orders {
			display: grid;
			gap: rem(10);

			@include desktop() {
				grid-template-columns: 1fr 1fr;
			}
			.active-order,
			.history-order {
				.link {
				}

				&.history-order .link {
					background-color: var(--light-grey);
				}
			}
		}
	}
}
@include dark() {
	.all-orders-page .history-orders .history-order .link {
		background-color: var(--dark-grey);

		.name,
		.sum,
		.type,
		.time,
		.place {
			color: var(--light);
			.icon {
			}
			.text {
				color: var(--light);
			}
		}
	}
}
