@import "src/assets/scss/abstractions";

body {
	.app-icon-button {
		&.theme-1 {
			width: rem(32);
			height: rem(32);
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: var(--light);
			border-radius: rem(8);
			border: rem(1) solid transparent;
			.icon {
				width: rem(16);
				height: rem(16);
				svg {
					fill: var(--dark);
					stroke: var(--dark);
				}
			}
			&:hover {
				border-color: var(--primary);
				.icon svg {
					fill: var(--primary);
					stroke: var(--primary);
				}
			}
		}
		&.theme-2 {
		}
	}

	&.dark .app-icon-button.theme-1 {
		background-color: var(--dark);
		.icon {
			svg {
				fill: var(--light);
				stroke: var(--light);
			}
		}
		&:hover {
			border-color: var(--primary);
			.icon svg {
				fill: var(--primary);
				stroke: var(--primary);
			}
		}
	}
}
