@import "src/assets/scss/abstractions";

body {
	.app-select {
		&.theme-1 .ng-select {
			.ng-input {
				position: absolute;
				left: 0;
				width: 100%;
				padding: 0 rem(16);
			}
			.ng-select-container {
				background-color: var(--light-grey);
				border-radius: rem(12);
				border: rem(1) solid transparent;
				cursor: pointer;
				.ng-value-container {
					padding: rem(11) rem(16);
					column-gap: rem(5);
					.ng-placeholder {
						position: static;
						font-weight: 400;
						font-size: rem(13);
						line-height: rem(24);
						color: var(--dark-t);

						@include desktop() {
							font-size: rem(16);
						}
					}
					.ng-value .ng-option-label {
						font-weight: 400;
						font-size: rem(13);
						line-height: rem(24);
						color: var(--dark);

						@include desktop() {
							font-size: rem(16);
						}
					}
				}
				&.ng-has-value .ng-placeholder {
					display: none;
				}
				&:hover {
					border-color: var(--primary);
				}
			}
			.ng-dropdown-panel {
				z-index: 1000;
				.ng-dropdown-panel-items {
					background-color: var(--light-grey);
					border-radius: 0 0 rem(12) rem(12);
					margin-top: rem(-10);
					padding: rem(17.5) rem(5) rem(5);
					border: rem(1) solid transparent;
					.ng-option {
						border-radius: rem(12);
						padding: rem(8) 0;
						font-weight: 400;
						font-size: rem(13);
						line-height: rem(16);
						color: var(--dark);
						padding: rem(10) rem(16);
						margin-top: rem(5);

						&:first-child {
							margin-top: 0;
						}

						&:hover:not(.ng-option-selected) {
							color: var(--primary);
						}

						@include desktop() {
							font-size: rem(16);
						}
						&.ng-option-selected {
							background-color: var(--primary-t);
						}
						&.ng-option-disabled {
							color: var(--dark-d);
						}
					}
				}
			}

			&.ng-select-filtered {
				.ng-value-container .ng-value,
				.ng-placeholder {
					display: block;
					opacity: 0%;
				}
			}
			&.ng-select-focused .ng-select-container,
			&.ng-select-opened .ng-select-container {
				border-color: var(--primary);
			}
		}
	}

	&.dark .app-select {
		&.theme-1 .ng-select {
			.ng-select-container {
				background-color: var(--dark-grey);
				.ng-value-container .ng-placeholder {
					color: var(--light-t);
				}
				&.ng-has-value .ng-value .ng-option-label {
					color: var(--light);
				}
				&:hover {
					border-color: var(--primary);
				}
			}
			.ng-dropdown-panel .ng-dropdown-panel-items {
				background-color: var(--dark-grey);
				.ng-option {
					color: var(--light);
					&.ng-option-selected {
						color: var(--primary);
					}
					&.ng-option-disabled {
						color: var(--light-d);
					}
				}
			}
			&.ng-select-focused .ng-select-container,
			&.ng-select-opened .ng-select-container {
				border-color: var(--primary);
			}
		}
	}
}
