// Hot Toastr closing is broken for Angular 15. Check https://github.com/ngneat/hot-toast/issues/113

@keyframes hotToastEnterAnimationNegative {
	0% {
		opacity: 50%;
		transform: translate3d(0, -80px, 0) scale(0.6);
	}

	100% {
		opacity: 100%;
		transform: translate3d(0, 0, 0) scale(1);
	}
}
@keyframes hotToastEnterAnimationPositive {
	0% {
		opacity: 50%;
		transform: translate3d(0, 80px, 0) scale(0.6);
	}

	100% {
		opacity: 100%;
		transform: translate3d(0, 0, 0) scale(1);
	}
}
@keyframes hotToastExitAnimationPositive {
	0% {
		opacity: 100%;
		transform: translate3d(0, 0, -1px) scale(1);
	}

	100% {
		opacity: 0%;
		transform: translate3d(0, 130px, -1px) scale(0.5);
	}
}
@keyframes hotToastExitAnimationNegative {
	0% {
		opacity: 100%;
		transform: translate3d(0, 0, -1px) scale(1);
	}

	100% {
		opacity: 0%;
		transform: translate3d(0, -130px, -1px) scale(0.5);
	}
}
