@import "/src/assets/scss/abstractions/index";

@include component() {
	.product-to-order {
		display: grid;
		grid-template-areas:
			"title paid-status paid-status"
			"user count price";
		align-items: center;
		border: rem(1) solid transparent;
		border-radius: rem(16);
		padding: rem(8);
		gap: rem(8);
		grid-template-columns: 2fr 1fr auto;
		background-color: var(--light-grey);

		&.active {
			border-color: var(--primary);
		}

		.title {
			grid-area: title;
			font-weight: 600;
			font-size: rem(14);
			line-height: rem(24);
			color: var(--dark);

			@include noWrap();
		}
		.paid-status {
			display: flex;
			align-items: center;
			column-gap: rem(5);
			justify-self: end;
			grid-area: paid-status;
			.waiting {
				flex: 1;
				grid-area: title;
				font-weight: 500;
				font-size: rem(14);
				line-height: rem(24);
				color: var(--dark);

				@include noWrap();
			}
			.icon {
				width: rem(20);
				height: rem(20);
				justify-self: end;
			}
		}
		.user {
			grid-area: user;
			font-size: rem(14);
			line-height: rem(24);
			color: var(--primary);
			font-weight: 500;
		}
		.count {
			grid-area: count;
			font-size: rem(14);
			line-height: rem(24);
			color: var(--dark);
			justify-self: end;
		}
		.price {
			grid-area: price;
			font-weight: 600;
			font-size: rem(14);
			line-height: rem(24);
			color: var(--primary);
			justify-self: end;
		}
	}
}
@include dark() {
	.product-to-order {
		border-color: var(--light-b);

		.title {
			color: var(--light);
		}

		.description {
			color: var(--light-grey);
		}

		.divider {
			background-color: var(--light-b);
		}

		.count {
			color: var(--light);
		}
	}
}
