<div class="product-to-order-skeleton">
	<app-skeleton class="title" [theme]="{ width: '80%' }"></app-skeleton>

	<app-skeleton
		class="paid-status"
		appearance="circle"
		[loaderTheme]="{ width: '20px', height: '20px' }"
	></app-skeleton>

	<app-skeleton class="user" [theme]="{ width: '100px', height: '24px' }"></app-skeleton>

	<app-skeleton class="count" [theme]="{ width: '25px', height: '24px' }"></app-skeleton>

	<app-skeleton class="price" [theme]="{ width: '50px', height: '24px' }"></app-skeleton>
</div>
