@import "/src/assets/scss/abstractions/index";

@include component() {
	.header {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: rem(8);
		padding: rem(8) rem(16);
		background-color: var(--light-grey);
		box-shadow: 0 rem(4) rem(20) rgb(0 0 0 / 10%);
		z-index: 1;

		.space {
			flex: 1;
		}

		.active-order {
			@include hideOnDesktop(flex);
		}

		@include desktop() {
			padding: rem(16) rem(40);
		}

		.logo .image {
			width: rem(29.5);
			height: rem(40);

			@include image() {
				object-fit: contain;
			}
		}

		.profile {
			@include hideOnMobile();
			@include desktop() {
				display: grid;
				grid-template-areas:
					"name icon"
					"role icon";
				text-align: right;
				column-gap: rem(16);
				padding-left: rem(48);
			}

			.role,
			.name {
				display: none;
				color: var(--dark);
				&.name {
					grid-area: name;
					display: block;
					font-weight: 600;
					font-size: rem(16);
					line-height: rem(24);
					align-self: end;
				}
				&.role {
					grid-area: role;
					display: block;
					font-weight: 500;
					font-size: rem(13);
					line-height: rem(16);
					color: var(--primary-hover);
					align-self: start;
				}
			}

			.icon {
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 50%;
				width: rem(40);
				height: rem(40);
				background: linear-gradient(180deg, var(--primary) 0%, #ff7a00 100%);

				@include desktop() {
					grid-area: icon;
				}

				.text {
					font-weight: 700;
					font-size: rem(16);
					line-height: rem(20);
					text-align: center;
					color: var(--light);
				}
			}
		}

		.burger {
			width: rem(40);
			height: rem(40);
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: rem(8);
			background-color: var(--light);
			.icon {
				width: rem(20);
				height: rem(20);
			}

			@include desktop() {
				display: none;
			}
		}
	}
}
@include dark() {
	.header {
		background-color: var(--dark-grey);
		.active-order {
			.code {
				color: var(--light);
			}
			.divider {
				background-color: var(--light-b);
			}
		}
		.profile {
			border-color: var(--light-d);
			.name {
				color: var(--light);
			}
		}
		.burger {
			background-color: var(--dark);
			.icon {
			}
		}
	}
}
