<header class="header" *transloco="let t; read: headerI18n">
	<a class="logo" routerLink="/hu">
		<app-image class="image" name="logo"></app-image>
	</a>

	<div class="space"></div>

	<app-active-order
		class="active-order"
		[activeOrder]="activeOrder"
		[activeOrderLink]="activeOrderLink"
	></app-active-order>

	<div class="profile" *ngIf="user" [tippy]="dropdown" placement="bottom-end" variation="popper">
		<p class="name">{{ user.name }}</p>
		<p class="role">{{ user.role }}</p>

		<div class="icon">
			<span class="text">{{ user.name | initials }}</span>
		</div>
	</div>

	<button class="burger" (click)="emitBurgerClick()">
		<app-icon class="icon" [name]="isAsideOpen ? 'close' : 'burger'"></app-icon>
	</button>
</header>

<ng-template #dropdown let-hide>
	<app-actions [actions]="actions" [additionalFunc]="hide"></app-actions>
</ng-template>
