<ul class="products-select">
	<ng-template #skeleton>
		<li class="product">
			<app-skeleton-product></app-skeleton-product>
		</li>
		<li class="product">
			<app-skeleton-product></app-skeleton-product>
		</li>
	</ng-template>

	<ng-container *ngIf="products?.length; else skeleton">
		<li class="product" *ngFor="let product of products; trackBy: trackByFn">
			<button class="button" (click)="emitProductClick(product)">
				<app-product
					class="preview-product"
					[product]="product"
					(plusClicked)="emitPlusClick($event)"
					(minusClicked)="emitMinusClick($event)"
				></app-product>
			</button>
		</li>
	</ng-container>
</ul>
