@import "/src/assets/scss/abstractions";

@include page() {
	.client {
		position: relative;
		display: grid;
		grid-template-areas:
			"header"
			"main"
			"footer";
		grid-template-rows: auto 1fr auto;
		height: 100%;
		.main {
			flex: 1;
			position: relative;
			display: flex;
			overflow: hidden;
			.aside {
				position: absolute;
				left: 0;
				top: 0;
				transform: translateX(-100%);
				transition: transform 0.3s;
				z-index: 1052;
				&.open {
					width: 100%;
					transform: translate(0);
				}

				@include desktop() {
					width: auto;
					position: static;
					transform: translate(0);
					&.open {
						width: auto;
					}
				}
			}
			.pages {
				position: relative;
				flex: 1;
				overflow: auto;
				padding: rem(42) rem(16);

				@include desktop() {
					padding: rem(67) rem(25);
				}
			}
		}
		.header {
			grid-area: header;
		}
		.footer {
			grid-area: footer;
		}
	}
}
