@import "/src/assets/scss/abstractions";

@include page() {
	.client {
		position: relative;
		width: 100%;
		height: 100%;
		display: grid;
		grid-template-rows: auto 1fr;

		.image {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;

			@include image() {
				object-fit: cover;
			}
		}

		.main {
			position: relative;
			display: flex;
			overflow: hidden;
			z-index: 1;
			.aside {
				position: absolute;
				left: 0;
				top: 0;
				transform: translateX(-100%);
				transition: transform 0.3s;
				z-index: 1052;
				&.open {
					width: 100%;
					transform: translate(0);
				}

				@include desktop() {
					width: auto;
					position: static;
					transform: translate(0);
					&.open {
						width: auto;
					}
				}
			}
			.pages {
				position: relative;
				flex: 1;
				overflow: auto;
				.footer {
					position: fixed;
					height: auto;
					bottom: 0;
					left: 0;

					@include hideOnDesktop();
				}
			}
		}
	}
}
