<ng-container *transloco="let t">
	<div class="history-order" *ngIf="order$ | async as order">
		<app-image class="image" [remote]="true" [name]="order.place.file?.url"></app-image>

		<div class="content">
			<div class="table" *ngIf="order.table">
				<h2 class="subtitle" appTypography theme="3">{{ t("ORDER.TABLE") }}</h2>

				<app-table *ngIf="order.table" [table]="order.table"></app-table>
			</div>

			<div class="products" *ngIf="order.usersToOrders?.length">
				<ul class="users-list">
					<li class="user">
						<button class="button selected">Все</button>
					</li>
					<li class="user" *ngFor="let user of order.users; let i = index">
						<button class="button">{{ user.name || "Гость " + i }}</button>
					</li>
				</ul>

				<ul class="products-list">
					<li class="product" *ngFor="let userToOrder of order.usersToOrders">
						<app-product-to-order [userToOrder]="userToOrder"></app-product-to-order>
					</li>
				</ul>
			</div>
		</div>
	</div>
</ng-container>
