<ng-container *transloco="let t; read: historyOrderPageI18n">
	<div class="active-order" *ngIf="order$ | async as order">
		<app-preview-place class="place" [place]="order.place"></app-preview-place>

		<a [routerLink]="clientRoutes.HALLS.absolutePath.replace(placeId, order.place.id)">
			<app-preview-table class="table" [table]="order.table"></app-preview-table>
		</a>

		<div class="products">
			<app-users-select [users]="order.users" [formControl]="usersControl"></app-users-select>

			<ul class="users-to-orders-by-type">
				<li
					class="user-to-order-by-type"
					*ngFor="let productToOrderByType of order.productsToOrdersByType; trackBy: trackByFn"
				>
					<ng-container *ngIf="productToOrderByType.productsToOrders?.length">
						<p class="status">{{ productToOrderByType.status }}</p>
						<ul class="users-to-orders">
							<li
								class="user-to-order"
								*ngFor="let productToOrder of productToOrderByType.productsToOrders; trackBy: trackByFn"
							>
								<app-product-to-order
									[productToOrder]="productToOrder"
									[isActive]="usersControl.value?.includes(productToOrder.user.id)"
								></app-product-to-order>
							</li>
						</ul>
					</ng-container>
				</li>
			</ul>
		</div>
	</div>
</ng-container>
