<ng-container *transloco="let t; read: tableDialogI18n">
	<div class="table-dialog" *ngIf="table$ | async as table; else skeleton">
		<app-image class="image" [remote]="true" [name]="table.file?.url" placeholder="table"></app-image>

		<div class="content">
			<p class="label">{{ t("code") }} {{ table.code }}</p>
			<p class="status">{{ validationStatus }}</p>

			<app-ios-datepicker
				class="datepicker"
				[formControl]="dateControl"
				[validationStatus]="validationStatus"
			></app-ios-datepicker>
		</div>

		<div class="footer">
			<button appButton class="submit" theme="1" (click)="closeDialogWithData(table)">Подтвердить</button>
		</div>
	</div>
</ng-container>

<ng-template #skeleton>
	<app-skeleton-table-dialog></app-skeleton-table-dialog>
</ng-template>
