@import "src/assets/scss/abstractions";

@include component() {
	.active-order {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: rem(40);
		border-radius: rem(12);
		padding: rem(12);
		column-gap: rem(12);

		.divider {
			width: rem(1);
			height: 100%;
			background-color: var(--dark-b);
		}

		.code {
			font-size: rem(12);
			line-height: rem(16);
			color: var(--dark);
			font-weight: 500;
		}

		.type {
			font-size: rem(12);
			line-height: rem(16);
			font-weight: 500;
		}

		&.DELIVERY {
			background-color: rgb(109 185 255 / 20%);
			.type {
				color: #6db9ff;
			}
		}

		&.IN_PLACE {
			background-color: rgb(223 134 0 / 20%);
			.type {
				color: #df8600;
			}
		}

		&.PICKUP {
			background-color: rgb(0 144 7 / 20%);
			.type {
				color: #009007;
			}
		}

		&.RESERVE {
			background-color: rgb(144 111 216 / 20%);
			.type {
				color: #906fd8;
			}
		}
	}
}
