@import "../../../../../../assets/scss/abstractions/index";

@include component() {
	.basket {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: rem(40);
		border-radius: rem(12);
		padding: rem(12);
		column-gap: rem(12);
		background-color: rgb(223 134 0 / 20%);

		.divider {
			width: rem(1);
			height: 100%;
			background-color: var(--dark-b);
		}

		.name {
			font-size: rem(12);
			line-height: rem(16);
			font-weight: 500;
			color: var(--dark);
		}

		.count {
			font-size: rem(12);
			line-height: rem(16);
			color: #df8600;
			font-weight: 500;
		}
	}
}
