<ul class="products-to-orders-select">
	<li
		class="products-to-orders-by-status"
		*ngFor="let productToOrderWithSelectedByStatus of productsToOrdersWithSelectedByStatus; trackBy: trackByFn"
	>
		<p class="status">{{ productToOrderWithSelectedByStatus.status }}</p>
		<ul class="products-to-orders">
			<li
				class="product-to-order"
				*ngFor="
					let productToOrder of productToOrderWithSelectedByStatus.productsToOrders;
					let i = index;
					trackBy: trackByFn
				"
			>
				<input
					class="checkbox"
					type="checkbox"
					[id]="'productToOrder_' + productToOrder.id"
					[name]="'productToOrder_' + productToOrder.id"
					[value]="productToOrder.id"
					[(ngModel)]="productToOrder.selected"
					(change)="emitChange()"
				/>
				<app-product-to-order class="product" [productToOrder]="productToOrder"></app-product-to-order>
			</li>
		</ul>
	</li>
</ul>
