<div class="users-select">
	<ul class="users">
		<li class="user">
			<button class="label" [class.active]="isAll" (click)="toggleAll()">All</button>
		</li>
		<li class="user" *ngFor="let user of usersWithSelected; let i = index; trackBy: trackByFn">
			<input
				class="checkbox"
				type="checkbox"
				[id]="'user_' + user.id"
				[name]="'user_' + user.id"
				[value]="user.id"
				[(ngModel)]="user.selected"
				(change)="emitChange()"
			/>
			<label class="label" [for]="i">{{ user.name }}</label>
		</li>
	</ul>
</div>
